#Project files
go-agent
run.sh
bin/*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
*.json
!/test/dataset/test.conf.json

# Release files
release/install_linux.bin
release/install_osx.bin
release/splitio-agent-linux-amd64
release/splitio-agent-osx-amd64
release/splitio-sync-win.zip

# vim backup files
*.swp
