#Project files
split-synchronizer
split-sync
split-proxy
proxy-opts.md
sync-opts.md

coverage.out
entrypoint.proxy.sh
entrypoint.sync.sh
entrypoint.synchronizer.sh
run.sh
bin/*
*.yaml
/vendor

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
*.json
!/test/dataset/test.conf.json
!/test/dataset/test.conf.error1.json
!/test/dataset/test.conf.error2.json
!/test/dataset/test.conf.error3.json
!/test/dataset/test.conf.error4.json
!/test/dataset/test.conf.error5.json
!/test/dataset/test.conf.json
!/test/dataset/test.conf.warning1.json
!/test/dataset/test.conf.warning2.json
!/test/dataset/test.conf.warning3.json
!/test/dataset/test.conf.warning4.json
!/test/dataset/test.conf.warning5.json

# vim backup files
*.swp

# Release files
release/*.bin
release/*.zip
release/versions.html

Gopkg.lock

.vscode/*

build/*
split-proxy
split-sync
clilist
