#Project files
split-synchronizer
run.sh
bin/*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
*.json
!/test/dataset/test.conf.json

# vim backup files
*.swp

# Release files
release/*.bin
release/*.zip
