{
	"api-key" : "API_KEY",

	"api-servers" : [
		{
			"name":"sdk",
			"url":"SDK_ENDPOINT"
		},
		{
			"name":"events",
			"url":"EVENTS_ENDPOINT"
		}
 	],

	"redis": {
    "host":"localhost",
		"port":6379,
		"db":0,
		"password":""
	},

	"log": {
		"verbose":false,
		"debug":false,
    "stdout":true,
		"file":"/tmp/splitio.agent.log"
	}
}
